body {
    background-color: #F4EFD2;
}

h1 {
    color: blue;
}

p {
    color: red;
}

#map {
    height: 500px;
    width: 800px;
}

.mapButton img {
	-webkit-filter: blur(4px);
	filter: blur(4px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.mapButton:hover img {
	-webkit-filter: blur(0px);
	filter: blur(0px);
}